@import "./__chart__number/__chart__number.css";

.chart__values {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    margin-left: 104px;
    height: 538px;
    width: 104px;
    padding: 0;
    margin-top: -16px;
}

@media (min-width : 500px) and (max-width : 768px) {
    .chart__values {
        margin-left: 40px;
      
    }
}
@media (min-width : 320px) and (max-width : 499px) {
    .chart__values {
        margin-left: 16px;
        
    }
}