.nav__item {
    margin-right: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}
.nav__item_active {
    border-bottom: white solid 3px;
}
.nav__item_active_black {
    color: #1A1B22;
    border-bottom: #1A1B22 solid 3px;
}

.nav__item_grow {
    color: #B6BCBF;
}

.nav__item_grow:hover {
    color: #1A1B22;
}