@import "./__chart__coordinate/__chart__coordinate.css";

.chart__axisX {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-left: 208px;
    margin-right: 104px;
    justify-content: space-between;
    margin-top: 16px;
}

@media (min-width : 500px) and (max-width : 768px) {
    .chart__axisX {
        margin-left: 144px;
        margin-right: 40px;
    }
}
@media (min-width : 320px) and (max-width : 499px) {
    .chart__axisX {
        margin-left: 120px;
        margin-right: 16px;
    }
}