@import "./__arrow/__arrow.css";

.result__analytics {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #1A1B22;
    margin-right: 10px;
}

.group__analytics {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width : 320px) and (max-width : 500px) {
    .group__analytics {
        justify-content: flex-start;
        margin-top: 16px;
    }
}
@media (min-width : 320px) and (max-width : 500px) {
    .group__analytics_none {
        display: none;
    }
}