@import "./__cell__img/__cell__img.css";
@import "./__cell__title/__cell__title.css";

.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    width: 120px;
    height: 153px;
}

@media (min-width : 500px) and (max-width : 768px) {
    .cell {
        margin: 0px;
    }
}
@media (min-width : 320px) and (max-width : 499px) {
    .cell {
        margin-right: 24px;
    }
}