.title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    width: 608px;
    font-size: 60px;
    line-height: 64px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 0px;
}