@import "./__commentators/__commentators.css";
@import "./__control/_control.css";

.history {
    background-color: #F5F6F7;
    color: #1A1B22;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
}

@media (min-width : 500px) and (max-width : 768px) {
    .history {
        padding-top: 40px;
    }
}
@media (min-width : 320px) and (max-width : 499px) {
    .history {
        padding-top: 32px;
    }
}