.result__header {
    display: flex;
    justify-content: space-between;
    margin-left: 7.2%;
    margin-right: 7.2%;
}


@media (min-width : 320px) and (max-width : 500px) {
    .result__header {
        flex-direction: column;
    }
}