@import "./__newsCard/__newsCard.css";

.newsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: black;
    background: #F5F6F7;
    margin-top: 64px;
    margin-left: 104px;
    margin-right: 88px;
    margin-bottom: 64px;
}