@import "./__paper__info/__paper__info.css";
@import "./__paper__request/__paper__request.css";
@import "./__paper__title/__paper__title.css";

.paper {
    margin-left: 104px;
    color: #1A1B22;
}

@media (min-width : 500px) and (max-width : 768px) {
    .paper {
        margin-left:40px;
    }
}
@media (min-width : 320px) and (max-width : 499px) {
    .paper {
        margin-left:16px;
    }
}