.tech__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    width: 344px;
    margin-top: 80px;
    margin-left: 104px;
    margin-bottom: 162px;
    margin-right: 176px;
}