.subtitle {
    width: 608px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 0px;
}

@media (min-width : 500px) and (max-width : 768px) {
    .subtitle {
        width: 452px;
    }
}

@media (min-width : 320px) and (max-width : 500px) {
    .subtitle {
        font-size: 20px;
        line-height: 26px;
        margin-top: 16px;
        width: 288px;

    }
}