@import url("./__footer__link/__footer__link.css");

.footer-nav__item {
    margin-right: 48px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
}

@media (min-width : 500px) and (max-width : 768px) {
    .footer-nav__item {
       margin-right: 25px;
    }
}
@media (min-width : 320px) and (max-width : 499px) {
    .footer-nav__item {
       margin-right: 0px;
    }
}