@import "./__newsCard__img/__newsCard__img.css";
@import "./__newsCard__date/__newsCard__date.css";
@import "./__newsCard__title/__newsCard__title.css";
@import "./__newsCard__description/__newsCard__description.css";
@import "./__newsCard__source/__newsCard__source.css";

.newsCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/3-16px);
    height: 576px;
    background: white;
    border-radius: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

.newsCard__text {
    display: block;
    overflow: auto;
}

@media (min-width : 769px) and (max-width : 940px) {
    .newsCard {
        width: calc(100%/2-16px);
    }
}
@media (min-width : 640px) and (max-width : 768px) {
    .newsCard {
        margin-right: 8px;
        height: 430px;
    }
}
@media (min-width : 500px) and (max-width : 640px) {
    .newsCard {
        width: calc(100%/2-16px);
        margin-right: 8;
    }
}

@media (min-width : 320px) and (max-width : 500px) {
    .newsCard {
        height: 446px;
        max-width: 400px;
        width: 100%;
        margin-right: 5%;
        margin-left: 5%;
    }
}
