.paper__info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
}

.paper__info_span {
    font-weight: bold;
}